html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  color: #1a2e67;
  padding-left: 40px; /* pokemon ul padding, helps center the title with the ul */
  text-align: center;
}

.pokemon-list li {
  list-style-type: none;
  text-align: center;
}

.button-class {
  background-color: #1a2e67;
  border: 1.3px solid #1a2e67;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  height: 70px;
  width: 170px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-class:hover {
  cursor: pointer;
  background-color: white;
  color: #1a2e67;
  border: 1.3px solid #1a2e67;
}

/* MODAL STYLES */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

/* close button */
.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal-close:hover {
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.modal img {
  padding: 10px
}
/* END MODAL STYLES */
